* {
	margin: 0;
	padding: 0;
}

.swipe-btn {
    display: inline-block; 
    width: 90px; 
    height: 36px; 
    position: relative; 
    color: #FFF; 
 	overflow: hidden; 
}




.swipe-btn label {
    width: 148px; 
    height: 36px; 
    margin-left: -58px;
    line-height: 36px; 
    position: absolute; 
    -webkit-transition: 0.13s; 
    -moz-transition: 0.13s; 
    transition: 0.13s; 
    font-size: 12px; 
    cursor: pointer;
}

.swipe-btn label::before {
    content: "OFF"; 
    text-align: center;
    width: 60px; 
    height: 36px; 
    float: right; 
    margin-left: -2px;  
    background: #d61111;
    box-shadow:inset 0 0 0 2px #fff;

}

.swipe-btn label::after {
    content: "ON"; 
    text-align: center;
    width: 60px; 
    height: 36px; 
    float: right; 
    margin-right: -2px; 
    background: #2ac308;
    box-shadow:inset 0 0 0 2px #fff;

}

.swipe-btn label b {
    display: block; 
    width: 32px; 
    height: 36px; 
    float: right; 
    position: relative; 
    z-index: 1;   
    background: #fff; 
    box-shadow:inset 0 0 0 2px #fff;
}



.swipe-btn input:checked ~ label {
    left: 58px;
}


.swipe-btn input {display: none;}




























/*.checkbox{display:none}*/

#wrapper{
    width: 95%; 
	height: auto;
	min-height: 30px;
	padding: 5px;
    margin: 10px auto; 
	background: #bb3360;
    border-radius:10px; //IE 11
	-moz-border-radius:10px; //Mozilla
	-webkit-border-radius:10px; //Chrome и Safari
}

	.test {
	margin-bottom: 5px;
	padding: 10px;
	background: #339fbb;
    border-radius:10px;          //IE 11
	-moz-border-radius:10px;     //Mozilla
	-webkit-border-radius:10px;  //Chrome и Safari
	border: 1px solid #666;
	}


.switch
{
width: 80px;
height: 32px;
z-index: 1;
margin: 20;
padding: 2;
appearance: none;
border: none;
cursor: pointer;
position: relative;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari
-webkit-box-shadow:inset 0 0 0 2px #ff0000;
box-shadow:inset 0 0 0 2px #ff0000;


}
.switch:before
{
content: ' ';
position: absolute;
width: 76px;
height: 28px;
top: 2px;
left: 2px;
z-index: 1;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari


}  

.switch:after 
{
content: ' ';
height: 28px;
width: 28px;
border-radius: 28px;
z-index: 2;
background: #FFFFFF;
position: absolute;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
top: 2px;
left: 2px;
-webkit-box-shadow: 0 2px 5px #999999;
box-shadow: 0 2px 5px #999999;

} 

.switchOn 
{
//background: #4cd964 !important;
//-webkit-box-shadow:inset 0 0 0 2px #00ff00;
//box-shadow:inset 0 0 0 2px #00ff00;

.switchOn:before 
{
//background: #4cd964 !important;
-webkit-box-shadow:inset 0 0 0 2px #00ff00;
box-shadow:inset 0 0 0 2px #00ff00;

}



}
.switchOn:after
{
content: ' ';
left: 50px !important;



}


.switchPanel{
background-color: #7DC9F9;
color:#fff;
width: 50%;
min-height: 190px;

padding: 10px;
margin: 0 auto;

text-align:center;
min-width: 300px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;


}