* {
	margin: 0;
	padding: 0;
}

.swipe-btn {
    display: inline-block; 
    width: 81px; 
    height: 36px; 
    position: relative; 
    border-radius: 20px; 
    color: #FFF; 
 	overflow: hidden; 
 // border: 1px solid #D3D2D2;
}

.swipe-btn label {
    width: 126px; 
    height: 36px; 
    line-height: 32px; 
    position: absolute; 
    right: 0px;
    -webkit-transition: 0.13s; 
    -moz-transition: 0.13s; 
    transition: 0.13s; 
    font-size: 12px; 
    z-index: 1; 
    cursor: pointer;
    border-radius: 20px; 
    box-shadow:inset 0 0 0 2px #0feac2;
}

.swipe-btn label::before {
    content: "OFF"; 
    width: 61px; 
    height: 32px; 
    margin-top: 2px;
    margin-left: 2px;
    float: left; 
    margin-right:-18px; 
//  padding: 3px 0 0 4px; 
    text-align: center; 
    color: #999; 
    background: #007FEA;
    border-radius: 20px 0 0 20px;
}

.swipe-btn label::after {
    content: "ON"; 
    width: 61px; 
    height: 32px; 
    margin-top: 2px;
    margin-left: 2px;
    float: left; 
    margin-left:-18px; 
 // padding: 3px 0 0 4px; 
    text-align: center; 
    background: #CCC; 
    text-indent: -16px;
    border-radius: 0 20px 20px 0;
}

.swipe-btn label b {
    display: block; 
    width: 36px; 
    height: 36px; 
    float: left; 
    position: relative; 
    z-index: 1; 
 // border: 1px solid #D3D2D2; 
    box-shadow:inset 0 0 0 2px #0feac2; 
    background: #fff; 
    border-radius: 20px;
}



.swipe-btn input:checked ~ label {
    right: -45px;
}


/*.swipe-btn input {display: none;}




























/*.checkbox{display:none}*/

#wrapper{
    width: 95%; 
	height: auto;
	padding: 5px;
    margin: 10px auto; 
	background: #bb3360;
    border-radius:10px; //IE 11
	-moz-border-radius:10px; //Mozilla
	-webkit-border-radius:10px; //Chrome и Safari
}

	.test {
	margin-bottom: 5px;
	padding: 10px;
	background: #339fbb;
    border-radius:10px;          //IE 11
	-moz-border-radius:10px;     //Mozilla
	-webkit-border-radius:10px;  //Chrome и Safari
	border: 1px solid #666;
	}


.switch
{
width: 80px;
height: 32px;
z-index: 1;
margin: 20;
padding: 2;
appearance: none;
border: none;
cursor: pointer;
position: relative;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari
-webkit-box-shadow:inset 0 0 0 2px #ff0000;
box-shadow:inset 0 0 0 2px #ff0000;


}
.switch:before
{
content: ' ';
position: absolute;
width: 76px;
height: 28px;
top: 2px;
left: 2px;
z-index: 1;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari


}  

.switch:after 
{
content: ' ';
height: 28px;
width: 28px;
border-radius: 28px;
z-index: 2;
background: #FFFFFF;
position: absolute;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
top: 2px;
left: 2px;
-webkit-box-shadow: 0 2px 5px #999999;
box-shadow: 0 2px 5px #999999;

} 

.switchOn 
{
//background: #4cd964 !important;
//-webkit-box-shadow:inset 0 0 0 2px #00ff00;
//box-shadow:inset 0 0 0 2px #00ff00;

.switchOn:before 
{
//background: #4cd964 !important;
-webkit-box-shadow:inset 0 0 0 2px #00ff00;
box-shadow:inset 0 0 0 2px #00ff00;

}



}
.switchOn:after
{
content: ' ';
left: 50px !important;



}


.switchPanel{
background-color: #7DC9F9;
color:#fff;
width: 50%;
min-height: 190px;

padding: 10px;
margin: 0 auto;

text-align:center;
min-width: 300px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;


}